@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Open+Sans:wght@400;600;700;800&display=swap");
.main-block1 {
  max-width: 30%;
  background-color: #174180;
  color: #fff;
  padding: 0 1rem;
}

.main-contacts {
  padding: 1rem 0.5rem;
}

.photo {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  width: 100%;
  height: auto;
  margin: 50px auto;
  border-radius: 300px;
}

.photo-img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans';
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  /* Убираем подчёркивание */
  color: #00d9ff;
}

a:hover {
  color: #029db8;
}

.h1,
h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}

.h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
}

.h1,
h2 {
  margin: 3px;
}

.h2-f {
  text-align: center;
  font-weight: 400;
}

.h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.h2-bg {
  max-width: 100%;
  border-top: 5px solid #0886fc;
  border-left-width: 10px;
  -webkit-clip-path: polygon(0% 0%, 98% 0%, 100% 50%, 98% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 98% 0%, 100% 50%, 98% 100%, 0% 100%);
  background-color: #8aebf2;
  padding-left: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 4px;
}

.p {
  padding-left: 20px;
}

span {
  font-weight: bold;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.menu {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(25%, #ffffff), color-stop(75%, #ffffff), to(rgba(255, 255, 255, 0)));
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
          mask-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(25%, #ffffff), color-stop(75%, #ffffff), to(rgba(255, 255, 255, 0)));
          mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.2)), color-stop(75%, rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.menu-list .menu-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-list .menu-item:hover {
  color: #029db8;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.2)), color-stop(75%, rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.menu-list .menu-item .link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1rem 1rem;
  display: block;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block2 {
  width: 70%;
  padding: 20px 50px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.skills-list {
  padding-left: 0.8rem;
}

.skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem;
}

.icon-skill {
  width: 1.7rem;
}

.letter {
  color: green;
  display: inline-block;
  text-align: center;
  width: 1.3rem;
  background-color: #cfd8e8;
  border: 1px solid #000;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  border-radius: 4px;
}

.pre-code {
  font-family: 'Inconsolata', monospace;
}

.function {
  color: #7d068d;
  font-weight: 500;
}

.nameFunc {
  color: #cf7a04;
  font-weight: 500;
}

.blue {
  color: #046bb0;
  font-weight: 500;
}

.green {
  color: green;
  font-weight: 500;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-container .project-one {
  width: 45%;
  height: 300px;
  border: 1px solid #000;
}

.projects-container .project-two {
  width: 45%;
  height: 300px;
  border: 1px solid #000;
}

.section {
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */